/frontend/node_modules/
/frontend/public/build/
/frontend/test_coverage/

/backend/be/configuration/configs
/backend/be/configuration/https

/backend/be/*.exe
/backend/be/logs

frontend/dist
.DS_Store
frontend/.vscode
frontend/.idea
.idea
.vscode